<div class="container" id="header">
  <h1 class="text-center">HOME</h1>
</div>

<!--<div class="container">
  <img class="float-right" id="store" src='/assets/images/store_sign.jpeg' width="400px">
</div>
-->
<div class="container text-center" id="home-info">
  <div class="panel panel-default">
    <div class="panel-body">We offer 5 micro brews and 6 domestic beers on tap. We serve mixed and blended drinks. Don't forget our full service liquor store has a wide selection of packaged liquor and wine to go – perfect for the holidays!</div><br>
    <div class="panel-body">Our sports bar features 6 flat panel TVs over-head located at the bar and 6 big screens placed throughout our viewing area.</div><br>
    <div class="panel-body">We are featuring these select satellite packages: NFL Ticket; BIGTEN Network; College Game Day; NHL; MLB; SPEED and the Golf Channel. Every television has its own satellite giving you the power to see all of your favorite teams play!</div><br>
    <div class="panel-body">If you want to try your luck, ante-up with live poker hosted by Bozeman Poker - LALA Corp. We also offer a fully attended semi-private casino room featuring the most popular video poker and keno machines.</div><br>
    <div class="panel-body">The Hide-A-Way Lounge and Brewsker's have teamed up and are located in the same building so you do not have to leave the premises to enjoy a fast meal. Perfect for the sports enthusiast on the go!</div><br>
  </div>
</div>
<!--
<div class="container">
  <img class="float-left" id="gear" src='/assets/images/msu_gear.jpeg' width="400px">
</div>
-->