.container {
  height: 50px;
}

.text-center {
  text-align: center;
}

#store {
  margin: 10px;
  padding: 10px;
}

#gear {
  float: right;
  margin: 10px;
  padding: 10px;
}

/*
section {
  background-color: blue;
}
*/