.container {
  background-image: url('../../../assets/images/beer_taps_1.jpeg');
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}
